/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* Variables */
:root {
  --clr-primary-01: hsl(179, 62%, 43%);
  --clr-primary-02: hsl(71, 73%, 54%);
  --clr-neutral-01: hsl(204, 43%, 93%);
  --clr-neutral-02: hsl(218, 22%, 67%);
  --clr-neutral-03: white;
  --ff-primary: 'Karla', sans-serif;
  --transition: all 0.2s linear;
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-neutral-01);
  font-size: 16px;
  font-family: var(--ff-primary);
  font-weight: 400;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 90%;
  /* height: 90%; */
  margin: auto;
}

/* Container Styles */
h1 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--clr-primary-01);
  margin-bottom: 1rem;
}

h2 {
  color: var(--clr-neutral-03);
  font-size: 1.12rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

p {
  font-size: 0.8rem;
}

li {
  list-style: none;
}

li a {
  color: var(--clr-neutral-03);
  font-size: 0.8rem;
  line-height: 1.5;
  text-decoration: none;
}

/* Container Classes */

.container {
  box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.2);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.global_container {
  padding: 1.8rem;
}

.container-1 {
  background-color: var(--clr-neutral-03);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.container-1 p {
  color: var(--clr-neutral-02);
  letter-spacing: 0.7px;
  line-height: 1.8;
}

.container p strong {
  color: var(--clr-primary-02);
  font-size: 0.8rem;
}

.container-2 {
  background-color: var(--clr-primary-01);
}

.container-2 p {
  color: var(--clr-neutral-03);
}

.pricetag {
  display: flex;
  align-items: center;
}

.month {
  margin-left: 0.5rem;
  opacity: 0.7;
}

.dollar {
  font-size: 2rem;
  font-weight: 700;
  opacity: 1;
}

.container-3 {
  background-color: var(--clr-primary-01);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0.7;
}

.btn {
  background-color: var(--clr-primary-02);
  border: 0;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-family: var(--ff-primary-01);
  font-weight: 700;
  font-size: 1rem;
  margin-top: 1.5rem;
  padding: 1rem;
  transition: var(--transition);
  width: 90%;
}

.btn:hover {
  background-color: var(--clr-neutral-02);
  color: var(--clr-neutral-01);
}

/* Media Query */
@media screen and (min-width: 475px) {
  .wrapper {
    display: flex;
    align-items: center;
  }
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 1fr;
    grid-template-areas:
      'container-1 container-1'
      'container-2 container-3';
    height: auto;
    margin: 0 auto;
    max-width: 635px;
  }
  .container-1 {
    grid-area: container-1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .container-2 {
    grid-area: container-2;
    border-bottom-left-radius: 10px;
  }
  .container-3 {
    grid-area: container-3;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
  }
  h1 {
    font-size: 1.5rem;
  }
  .container p strong {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
}

/* FrontEnd Mentor */
/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
